@font-face {
  font-family: 'Patrick Hand';
  src: url('../public/fonts/PatrickHand-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Caveat';
  src: url('../public/fonts/Caveat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
